/* line 1, ../../../app/stylesheets/partials/_fancy_labels.scss */
.input.fancy_label {
  position: relative;
}
/* line 3, ../../../app/stylesheets/partials/_fancy_labels.scss */
.input.fancy_label label {
  position: absolute;
  line-height: 40px;
  left: 8px;
  font-size: 18px;
  cursor: text;
}

/* line 1, ../../../app/stylesheets/partials/_fancy_labels.scss */
.input.fancy_label {
  position: relative;
}
/* line 3, ../../../app/stylesheets/partials/_fancy_labels.scss */
.input.fancy_label label {
  position: absolute;
  line-height: 40px;
  left: 8px;
  font-size: 18px;
  cursor: text;
}

/* line 4, ../../../app/stylesheets/partials/_form.scss */
form .input {
  margin: 10px 20px;
}
/* line 6, ../../../app/stylesheets/partials/_form.scss */
form .input label {
  color: #555;
  font-size: 16px;
  line-height: 30px;
}
/* line 12, ../../../app/stylesheets/partials/_form.scss */
form .input input {
  font-size: 14px;
  padding: 5px;
  width: 578px;
}
/* line 16, ../../../app/stylesheets/partials/_form.scss */
form .input input.title {
  font-size: 18px;
}
/* line 21, ../../../app/stylesheets/partials/_form.scss */
form .input textarea {
  font-size: 14px;
  padding: 5px;
  width: 580px;
  -webkit-appearance: textfield;
}
/* line 29, ../../../app/stylesheets/partials/_form.scss */
form .submit {
  margin: 10px 20px;
  margin-bottom: 20px;
  font-size: 14px;
}
/* line 33, ../../../app/stylesheets/partials/_form.scss */
form .submit .button {
  font-size: 14px;
}
/* line 39, ../../../app/stylesheets/partials/_form.scss */
form .field_with_errors label {
  color: #a00;
}

/* line 3, ../../../app/stylesheets/partials/_button.scss */
.button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background-color: #eee;
  font-family: 'Helvetica Neue', sans-serif;
  text-shadow: #f5f5f5 0 1px 0;
  color: #444;
  padding: 8px 14px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ccc;
  vertical-align: baseline;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #dddddd 0 1px 1px 0;
  -webkit-box-shadow: #dddddd 0 1px 1px 0;
  -o-box-shadow: #dddddd 0 1px 1px 0;
  box-shadow: #dddddd 0 1px 1px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e0e0e0));
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
  background-image: linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button {
  *display: inline;
}
/* line 19, ../../../app/stylesheets/partials/_button.scss */
.button:hover {
  border: 1px solid #aaa;
  color: #000;
}
/* line 23, ../../../app/stylesheets/partials/_button.scss */
.button:active {
  -moz-box-shadow: white 0 0 0 0;
  -webkit-box-shadow: white 0 0 0 0;
  -o-box-shadow: white 0 0 0 0;
  box-shadow: white 0 0 0 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e0e0e0), color-stop(100%, #f5f5f5));
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, #f5f5f5 100%);
  background-image: linear-gradient(top, #e0e0e0 0%, #f5f5f5 100%);
}

/* line 6, ../../../app/stylesheets/outside.scss */
body {
  font-family: "Helvetica Nueue", sans-serif;
  background-image: url(/images/background.png);
}

/* line 11, ../../../app/stylesheets/outside.scss */
#container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}
/* line 12, ../../../app/stylesheets/outside.scss */
#container #logo {
  font-weight: bold;
  font-size: 40px;
  text-shadow: white 0 1px 0;
  text-align: center;
}
/* line 16, ../../../app/stylesheets/outside.scss */
#container #logo a {
  color: #555;
  text-decoration: none;
}
/* line 20, ../../../app/stylesheets/outside.scss */
#container #logo a:hover {
  color: #000;
}
/* line 28, ../../../app/stylesheets/outside.scss */
#container #box {
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 50px;
  -moz-box-shadow: #e0e0e0 0 2px 1px 0;
  -webkit-box-shadow: #e0e0e0 0 2px 1px 0;
  -o-box-shadow: #e0e0e0 0 2px 1px 0;
  box-shadow: #e0e0e0 0 2px 1px 0;
}
/* line 39, ../../../app/stylesheets/outside.scss */
#container form .input input, #container form .input textarea {
  width: 95%;
}
/* line 45, ../../../app/stylesheets/outside.scss */
#container h2 {
  margin: 10px 20px;
  margin-top: 20px;
}
