@import "compass/css3";
@import "partials/fancy_labels";
@import "partials/form";
@import "partials/button";

body {
  font-family: "Helvetica Nueue", sans-serif;
  background-image: url(/images/background.png);
}

#container {
  #logo {
    font-weight: bold;
    font-size: 40px;
    @include text-shadow(#fff, 0, 1px, 0);
    a {
      color: #555;
      text-decoration: none;
    }
    a:hover {
      color: #000;
    }
    text-align: center;
  }
  width: 400px;
  margin: auto;
  margin-top: 50px;
  #box {
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #FFF;
    @include border-radius(3px);
    margin-bottom: 50px;
    @include box-shadow(#e0e0e0, 0, 2px, 1px);
  }
  
  form {
    .input {
      input, textarea {
        width: 95%;
      }
    }
  }
  
  h2 {
    margin: 10px 20px;
    margin-top: 20px;
  }
}